{% extends 'base.html' %}
{% block content %}
{#{% load crispy_forms_tags %}#}

    {% csrf_token %}
    {{ form.as_table }}
    {#    {{ form|crispy }}#}

    <button class="btn btn-dark" type="submit">Save</button>
    </form>

    {% if user.is_authenticated %}

    <h3>Product Page </h3>
    {% else %}
    <a href="{% url django.contrib.auth.login %}">Login</a>
    {% endif %}
<div class="table-responsive">
<table class="table">
        <thead class="">
        {#  <thead class="thead-dark">#}
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Provider</th>
            <th scope="col">Cost</th>
        </tr>
        </thead>
        <tbody>
    {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{product.name}}</td>
                <td>{% if product.provider %}{{ product.provider }} {% endif %}{% if not product.provider %} - {% endif %}</td>
                <td>{% if product.cost %}{{ product.cost }} {{ product.currency.iso_code }} {% endif %}{% if not product.cost %} - {% endif %}</td>
                <td>
{#                    <a class="btn btn-outline-primary btn-sm" href="{% url 'update_profile' pk=user.id%}">Edit</a>#}
                </td>
            </tr>
        {% endfor %}
  </tbody>
</table>
    </div>

{% endblock %}
