{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load bootstrap_pagination %}
{% block content %}


<div id="main-content">

    <form action="{% url "create_transaction_api"%}" method="post" id="post-form" class="transaction-form">
        <div>
            <div class="col-7">
                {{ form.sent_to|as_crispy_field }}
            </div>
            <div class='table'>
                <fieldset>
                    <div class="form-row col-12">
                        <div class="col-lg-4">
                            {{ form.product|as_crispy_field }}
                        </div>
                        <div class="col-lg-3">
                            {{ form.value|as_crispy_field }}
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="ml-3 btn btn-primary" type="button" id="add_more">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Розширити
            </button>
            <button type="submit" class="btn btn-primary transaction-confirm" id="transaction-confirm">Продати</button>
        </div>
    </form>


<h3 class="mt-4">Список транзакцій</h3>
<div class="table-responsive">
<table class="table">
        <thead class="">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Назва продукта</th>
            <th scope="col">Ціна продажу</th>
            <th scope="col">Навар</th>
            <th scope="col">Хто - Кому</th>
            <th scope="col">Час створення</th>
        </tr>
        </thead>
        <tbody>
    {% for product in object_list %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{product.product}}</td>
                <td>{{product.value}} {{product.currency.iso_code}}</td>
                <td>{{product.surcharge}} {{product.currency.iso_code}}</td>
                <td> {{ product.sent_from }} > {{ product.sent_to }} </td>
                <td> {{ product.created_at }} </td>
            </tr>
        {% endfor %}
  </tbody>
</table>
    </div>

{% if object_list %}
    {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
{% endif %}

</div>

    <script>
        $('#add_more').click(function () {
            cloneMore('div.table:last');
        });
        function cloneMore(selector) {
            var newElement = $(selector).clone(true);
            newElement.find(':input').each(function () {
                var name = $(this).attr('name') + 1;
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            $(selector).after(newElement);
         }
    </script>

<script>
        window.variables = {
            csrfToken: '{{ csrf_token }}',
        }

        $(document).ready(function () {
            $('.transaction-confirm').on('click', function (e) {
                e.preventDefault();
            let form = $(this).closest('.transaction-form');
            let url = form.attr('action');
            let data = getFormData(form);
            let sent_to_id = data["sent_to"];

            let fieldsets = form.find("fieldset");
            let newData = [];
            let errors = "False";
            fieldsets.each(function () {
                let fieldset = $(this).serializeArray()
                newData.push({"sent_to":sent_to_id , "product": fieldset[0]["value"], "value": fieldset[1]["value"]})
             });

            Object.keys(data).forEach(function (key) {
                if (data[key].length == 0) {
                    errors = "True";
                    $("#id_" + key).css('border', 'solid 1px red');
                } else {
                    $("#id_" + key).css('border', 'solid 1px #ced4da');
                }
            })
                data = {"data": JSON.stringify(newData)}

                if (errors == "False") {
                form.find('input').each(function () { $(this).val("") });
                form.find('select').val("");
                    transactionConfirmRequest(form, url, data)
                }
            });

    const transactionConfirmRequest = (form, url, data) => {
        $.ajax({
            url: url,
            method: 'POST',
            headers: {"X-CSRFToken": variables.csrfToken},
            data,
        }).done(function (data) {
            console.log('done', data)
            $('#main-content').prepend(
                `<div class='alert alert-primary'>Транзакція успішно створена</div>`
            );

        }).fail(function (data) {
            data = data.responseJSON;
            for (let a in data) {
                if (a === 'non_field_errors') {
                    $('.change-validation-message').append(`<p class="excanger-form-validation-backend-checks" style="color: darkred">${data[a][0]}</p>`);
                } else {
                    $(`#id_${a}:not([type='hidden'])`).closest('div').append(`<p class="excanger-form-validation-backend-checks" style="color: darkred">${data[a][0]}</p>`);
                }
             }
        })
    }

            function getFormData($form) {
                let unindexed_array = $form.serializeArray();
                let indexed_array = {};

                $.map(unindexed_array, function (n, i) {
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }
        });

</script>

{% endblock %}


{#    <script>#}
{##}
{#        window.variables = {#}
{#            csrfToken: '{{ csrf_token }}',#}
{#        }#}
{##}
{#        $(document).on('submit', '#post-form', function (e) {#}
{#            e.preventDefault();#}
{##}
{#            $.ajax({#}
{#                type: 'POST',#}
{#                url: '{% url "create_transaction_api"%}',#}
{#                headers: {"X-CSRFToken": variables.csrfToken},#}
{#                data: {#}
{#                    client: $('#id_sent_to').val(),#}
{#                    product: $('#id_product').val(),#}
{#                    value: $('#id_value').val(),#}
{#                    action: 'post',#}
{#                },#}
{#                success: function (json) {#}
{#                    document.getElementById("post-form").reset();#}
{#                    console.log("succsess!")#}
{#                },#}
{#                error: function (xhr, errmsg, err) {#}
{#                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}
